.main {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  height: 700px;
  width: 28%;
  min-width: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 4px;
  border: 1px solid black;
}

.authButton {
  width: 100px;

  font-size: 16px;

  background-color: #2694d4;
  color: white;

  border: none;
  border-radius: 4px;
}

.authButton:hover,
.taskButton:hover,
.authButton:active,
.taskButton:active {
  cursor: pointer;

  background-color: #1e7792;
}

.editSaveButton:hover {
  filter: brightness(0.8);

  background-color: black;
}

.authButton:focus,
.taskButton:focus {
  outline: none;
}

.search {
  font-size: 1.6rem;

  padding: 2px 8px;
}

.search {
  max-width: 300px;

  padding-left: 52px;

  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 14px;

  box-shadow: none;
}

.search:focus {
  border: 2px solid rgb(0, 0, 0);

  outline: none;
}

.searchIcon {
  position: absolute;
  top: 6px;
  left: 16px;

  font-size: 1.6rem;

  color: rgba(0, 0, 0, 0.5);
}

.editTask {
  font-size: 1.2rem;

  padding: 2px 4px;
}

.editTask:focus {
  outline-color: black;
}

.taskButton {
  width: 100px;
  height: 38px;

  font-size: 16px;

  background-color: #2694d4;
  color: white;

  border: none;
  border-radius: 4px;
}

.editSaveButton {
  height: 32px;
  background-color: black;
}

.searchContainer {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 48px 24px;

  border-bottom: 1px solid black;

  box-sizing: border-box;
}

.header {
  font-size: 4rem;

  margin: 2rem 0px;
}

.taskRow {
  width: 100%;
  min-height: 86px;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 24px;

  border-bottom: 1px solid black;

  box-sizing: border-box;
}

.taskForm {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tasksContainer {
  width: 100%;

  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
}

.tasksContainer:hover {
  overflow-y: auto;
}

.tasksContainer::-webkit-scrollbar {
  width: 12px;

  background-color: white;
}

.tasksContainer::-webkit-scrollbar-thumb {
  background-color: grey;

  border-radius: 8px;
}

.taskRowButton {
  width: 30px;
  height: 30px;

  font-size: 1.6rem;

  background-color: white;

  border: none;
  border-radius: 4px;
}

.taskRowButton:hover,
.taskRowButton:active {
  background-color: #cecece;
}

.taskRowButton:focus {
  outline: none;
}

.taskRowButtons {
  width: 72px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskName {
  font-size: 1.2rem;
}

.taskError {
  position: absolute;
  bottom: 4px;

  font-size: 12px;
  color: red;
}

@media screen and (max-width: 650px) {
  .card {
    width: 100%;
    height: 100%;
    min-width: 0px;

    border: none;
    border-top: 1px solid black;
    border-radius: 0px;

    box-shadow: none;
  }
}

@media screen and (max-height: 920px) {
  .header {
    margin: 1rem 0px;
  }
}

@media screen and (max-width: 540px) {
  .header {
    font-size: 3rem;

    margin: 2rem 0px;
  }

  .searchContainer {
    padding: 24px 12px;
  }

  .tasksContainer {
    overflow-y: scroll;
  }

  .tasksContainer::-webkit-scrollbar {
    width: 0px;
  }

  .taskRow {
    min-height: 64px;

    padding: 0px 12px;
  }

  .taskName {
    font-size: 1rem;
  }

  .taskRowButton {
    font-size: 1.4rem;
  }

  .card {
    border-top: 1px solid black;
  }

  .search,
  .searchIcon {
    font-size: 1.2rem;
  }

  .editTask {
    font-size: 1rem;
  }

  .taskButton {
    height: 2rem;
    width: 3rem;
  }
}
