@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

.page-content {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 1rem 2rem;
  box-sizing: border-box;
  overflow: hidden;
}

.centered {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.button {
  font-size: 1rem;
  height: 40px;
  width: 100%;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.no-border {
  border-bottom: none !important;
}

@media screen and (max-width: 650px) {
  .page-content {
    padding: 1rem 0px;
  }

  .nav {
    padding: 0px 12px;
    box-sizing: border-box;
  }
}
